
<footer id="footer" class="footer-1">


  <div class="footer-copyright">
  <div class="row">
  <div class="col-md-12 text-center">
  <p> © MARTEL Baptiste - GOURVES Yoann - ROCHE Yannis - DENONFOUX Adrien</p>
  </div>
  </div>
  </div>
  </footer>


