.header{
  background-color: var(--header-background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo{
 width: 40%;
}

#user-info{
  background-color: var(--user-info-background-color);
  visibility: visible;
}

#user-info #user-info-text{
  visibility: visible;
}

#logout-button{
  background-color: var(--button-background-color) !important;
  color: black !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 22px;
  visibility:visible;
}
