<app-spinner *ngIf="loadingSubject | async"></app-spinner>
<div class="header">
    <div class="col-sm-6">
      <img src="/assets/logo.PNG" class="logo">
    </div>
    <div class="col-sm-12" align="end">
      <button mat-raised-button (click)="logout()" id="logout-button" *ngIf="user?.id !== undefined && user?.id !== 0">
        LOG OUT
      </button>
    </div>
</div>
<div id="user-info" align="center" *ngIf="user?.id !== undefined && user?.id !== 0">
    <p id="user-info-text">Connecté en tant que <b>{{user?.firstName}} {{user?.lastName}}</b></p>
</div>
