<div class="container" align="center">
  <img src="/assets/historic_box.PNG" class="logo">

  <mat-card id="firstMusic" class="historic_box mat-elevation-z0">
    <img [src]="history[0] ? 'data:image/png;base64,' + history[0].album.cover.image : defaultCoverPath">
    <div class="song-info">
      <p class="song-title">{{history[0] ? history[0].title : ''}}</p>
      <p class="song-artist">{{history[0] ? history[0].artist.name : ''}}</p>
    </div>
  </mat-card>

  <mat-card id="secondMusic" class="historic_box mat-elevation-z0">
    <img [src]="history[1] ? 'data:image/png;base64,' + history[1].album.cover.image : defaultCoverPath">
    <div class="song-info">
      <p class="song-title">{{history[1] ? history[1].title : ''}}</p>
      <p class="song-artist">{{history[1] ? history[1].artist.name : ''}}</p>
    </div>
  </mat-card>

  <mat-card id="thirdMusic" class="historic_box mat-elevation-z0">
    <img [src]="history[2] ? 'data:image/png;base64,' + history[2].album.cover.image : defaultCoverPath">
    <div class="song-info">
      <p class="song-title">{{history[2] ? history[2].title : ''}}</p>
      <p class="song-artist">{{history[2] ? history[2].artist.name : ''}}</p>
    </div>
  </mat-card>

</div>
