.container {
  position: relative;
}

/* Make the image responsive */
.container img {
  height: auto;
  width: 79.5%;
}

.container #firstMusic{
  top: 29%;
}

.container #secondMusic{
  top: 55%;
}

.container #thirdMusic{
  top: 81%;
}

.historic_box{
  background-color: var(--card-background-color);
  display: flex;
  flex-direction: row;
  position: absolute !important;
  transform: translate(-70%, -70%);
  left: 61.5%;
  width: 61%;
  height: 21%;
}

.historic_box img{
  width: 32%;
  padding: 1%;
}

.song-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.song-title{
  font-size: 20px;
}
