.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--default-page-height);
}
.container{
  display: flex;
  justify-content: end;
  align-items: center;
}

.logo{
  width: 60%;
}

.container .music{
  top: 46%;
}

.container .file{
  top: 46%;
}

.file-input{
  visibility:hidden;
}

.actions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.launch-button{
  background-color: var(--button-background-color) !important;
  color: black !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 22px;
  width: 20%;
  visibility:visible;
  margin-top: 2%;

  transition-duration: 0.2s !important;
}

.launch-button:hover{
  background-color: var(--login-text-color) !important;
  color: white !important;
  transition-duration: 0.2s !important;
}

.launch-button:backdrop{
  transition-duration: 0.2s !important;
}
