
<section class="main">
  <app-spinner *ngIf="loadingSubject | async"></app-spinner>
<div class="container" align="center" >
  <img src="/assets/record_back_img.PNG" class="logo">
  <button class="round-button music" (click)=" recButtonClick()" *ngIf="this._importId === 0">
    <mat-icon>{{!this.recordingSubject.value ? 'mic' : 'stop'}}</mat-icon>
  </button>
  <div class="file-div">
  <input type="file" accept=".wav" #fileInput class="file-input" (change)="processFile(fileInput)">
  <button *ngIf="this._importId === 1" (click)="fileInput.click()" class="round-button file">
    <mat-icon>library_music</mat-icon>
  </button>
</div>
</div>
<div align="center" *ngIf="!this.recordingSubject.value && blobUrl" class="actions">
  <audio  controls [src]="blobUrl" id="audio-element">
  </audio>
  <button mat-raised-button class="launch-button" (click)="recognize()">
    LANCER LA RECONNAISSANCE
  </button>
</div>

</section>
<app-footer></app-footer>


