
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--default-page-height);
    width: 100%;

    background-position: center;
    background-size: cover;
}

.form-box{
    position: relative;
    width: 400px;
    height: 200px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
   width: 100%;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    left: 5px;
    font-size: 1em;
    pointer-events: none;
    color: var(--login-text-color);
    top: -45%;
}

.inputbox input {
    width: 116%;
    height: 50px;
    background-color: var(--login-text-color) ;
    border-radius: 10px;
    border: solid 1px white;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: white;
}
::-ms-reveal {
  filter: invert(100%);
}

.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--login-text-color);
}

.forget input{
    margin-right: 3px;
}

.forget input::before{
  background-color:var(--login-text-color);
}

button{
    width: 95%;
    height: 40px;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition-duration: 0.2s;
}

button:hover{
  background-color: var(--login-text-color);
  color: white;
  transition-duration: 0.2s;
}

button::backdrop{
  transition-duration: 0.2s;
}

.register{
    font-size: .9em;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a{
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

::ng-deep .mat-mdc-tab-header{
  margin-top: 15%;
}
::ng-deep .mat-mdc-tab-body-content{
  overflow: hidden !important;
  height: 75vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::ng-deep .mdc-tab__text-label{
  color: var(--header-background-color) !important;
}

::ng-deep .mdc-tab-indicator__content{
  border-color: var(--header-background-color) !important;
}
