<section>
  <div class="form-box">
      <div class="form-value">
          <mat-tab-group (selectedTabChange)="changeMethod($event)">
            <mat-tab label="LOGIN">
              <ng-container *ngTemplateOutlet="loginform"></ng-container>
            </mat-tab>
            <mat-tab label="REGISTER">
              <ng-container *ngTemplateOutlet="registerform"></ng-container>
            </mat-tab>
          </mat-tab-group>
      </div>
  </div>
</section>

<ng-template #registerform>
  <form (ngSubmit)="loginButtonClick()" [formGroup]="registerForm">
    <img src="{{registerImgSrc}}">
    <div class="inputbox">
        <input #loginInput type="text" required formControlName="login">
        <label>Login</label>
    </div>
    <div class="inputbox">
      <input #firstnameInput type="text" required formControlName="firstname">
      <label>Firstname</label>
    </div>
    <div class="inputbox">
      <input #lastnameInput type="text" required formControlName="lastname">
      <label>Lastname</label>
    </div>
    <div class="inputbox">
        <input #passwordInput type="password" required formControlName="password">
        <label>Password</label>
    </div>
    <div class="inputbox">
      <input #repasswordInput type="password" required formControlName="repassword">
      <label>Password confirmation</label>
  </div>
    <button type="submit" [disabled]="this.registerForm.invalid">Register</button>
</form>
</ng-template>

<ng-template #loginform>
  <form (ngSubmit)="loginButtonClick()" [formGroup]="loginForm">
    <img src="{{loginImgSrc}}">
    <div class="inputbox">
        <input #loginInput type="text" required formControlName="login">
        <label>Login</label>
    </div>
    <div class="inputbox">
        <input #passwordInput type="password" required formControlName="password">
        <label>Password</label>
    </div>
    <div class="forget">
        <input #checkboxInput type="checkbox">Remember Me
    </div>
    <button type="submit" [disabled]="this.loginForm.invalid">Log in</button>
</form>
</ng-template>

