<div class="main-content col-sm-12">
  <div class="col-6">
    <app-main-music></app-main-music>
  </div>
  <div class="col-6">
    <app-main-historic></app-main-historic>
  </div>
</div>
<div class="col-12"*ngIf="role && role === RoleName.Admin" align="center">
  <button class="red-button add-button" mat-button (click)="openAdminDialog()" >
    AJOUTER UN SON EN BASE DE DONNÉES
  </button>
</div>
<app-footer></app-footer>
