:root{
  --header-background-color : #06597C;
  --user-info-background-color: #D9D9D9;
  --button-background-color: white;
  --font-color: #06597C;
  --component-background-color: #06597C;
  --border-color: #06597C;
  --login-text-color: #224957;
  --card-background-color: #D9D9D9;
  --stream-button-background-color: #201d16;

  --default-page-height: 71.5%;
}

.container {
  position: relative !important;
}


button {
  padding: 0 6px 0 6px !important;
  margin: 6px 8px 6px 8px !important;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase  !important;
  text-decoration:none;
  border: none;
  outline: none;
}

.red-button{
  background-color: rgb(237, 56, 56) !important;
  color: white !important;
}

.container img {
  width: 85%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .round-button {
  position: absolute;
  left: 48%;
  transform: translate(-50%, -50%);
  background-color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width:58px !important;
  height:85px !important;
  color: black;
}

.container .round-button:hover{
  background-color: rgb(192, 187, 187) !important;
  border: solid white 4px;
  transition-property: all;
  transition-duration: 0.3s;
}


.container .round-button mat-icon{
  height:42px !important;
  width:50px !important;
  font-size:50px !important;
}

.container .round-button:hover {
  background-color: white;
}
