section{
  height: 71.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.result-box{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info-div{
  margin-left: 4%;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.result-box img{
  width: 30%;
  height: 30%;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: var(--font-color);
}

.title{
  font-size: 30px;
  font-weight: 600;
}

.album{
  padding-top: 10%;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

.author{
  font-size: 20px;
  font-weight: 600;
}

.stream{
  background-color: var(--stream-button-background-color);
  width: 40%;
  height: 10%;
  border-radius: 10px;
}

.stream img{
  width: 100%;
}

.spotify{
  width: 50% !important;
}

.close{
  background-color: var(--stream-button-background-color);
}
