<section>
  <div class="result-box" align="center">
    <img class="col-6 cover" [src]="'data:image/png;base64,' + music?.album?.cover?.image">
    <div class="info-div col-6">
      <p class="title">{{music?.title}}</p>
      <p class="album">{{music?.album?.title}}</p>
      <p class="author">{{displayArtists()}}</p>
      <button class="apple-music stream">
        <a [href]="getAppleMusicHref()"><img src="/assets/applemusic.png"></a>
      </button>
      <button class="spotify stream">
        <a [href]="getSpotifyHref()"><img src="/assets/spotify.png"></a>
      </button>
    </div>
  </div>
</section>
<div align="center">
  <button routerLink="../" mat-button class="close">X</button>
</div>
<app-footer></app-footer>
