<form class="row" (submit)="submit()" [formGroup]="form">
  <div class="col-12" align="center" mat-dialog-title>
    AJOUTER UN SON EN BDD (.flac)
  </div>
  <div class="col-12" mat-dialog-content align="center">
    <input type="file" #fileInput accept=".flac"  class="file-input" (change)="processFile(fileInput)" required
    id="audio" name="audio" formControlName="audio">
  </div>
  <div class="col-12" mat-dialog-actions align="end">
    <button mat-button type="submit" [disabled]="form.invalid">
      Ajouter
    </button>
    <button mat-button mat-dialog-close>
      Annuler
    </button>
  </div>
</form>

